@charset "UTF-8";
html {
    line-height: 1.15;
}
* {
    box-sizing: border-box;
}
*::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
}
a:link, a:hover, a:active {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
}

/* header */
.header {
    background-color: #294C7A;
}
.header-container {
    width: 1125px;
    margin: 0 auto;
    padding: 12px 0;
    display: flex;
    align-items: center;
}
.header-description {
    padding-left: 12px;
}
.header-desc-h1 {
    font-size: 12px;
    color: #BFC9D7;
    letter-spacing: -0.05em;
    font-weight: normal;
}
.header-admin {
    margin-left: auto;
}
.header-admin .header-admin-ul {
    display: flex;
    padding: 6px 15px 8px;
    align-items: center;
    background-color: #345584;
    border-radius: 4px;
}
.header-admin .header-admin-li:not(:last-child)
{
    position: relative;
    padding-right: 15px;
}
.header-admin .header-admin-li:not(:last-child)::after {
    content: '';
    width: 1px;
    height: 13px;
    background-color: #BFC9D7;
    position: absolute;
    top: 4px;
    right: 7px;
}
.header-admin .header-ad-link {
    font-size: 13px;
    color: #fff;
}
.header-search {
    width: 288px;
    margin-left: 10px;
}
.header-search-form {
    display: flex;
}
.header-search-form input[type=text] {
    outline: none;
}
.header-search-input {
    background: #fff;
    line-height: 30px;
    height: 30px;
    font-size: 13px;
    padding-left: 15px;
    border-radius: 4px 0 0 4px;
    width: 258px;
    border: none;
}
.header-search-button {
    background-color: #3081c9;
    background-image: url('../images/icon_search.svg');
    background-size: 19px 19px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 4px 4px 0;
    height: 30px;
    width: 30px;
    border: none;
}
.header-search-button:hover {
    cursor: pointer;
}
.header-intro-nav .header-intro-nav-ul {
    width: 1125px;
    display: flex;
    margin: 0 auto;
    padding: 1px 0 13px;
}
.header-intro-nav .header-intro-nav-li {
    line-height: 13px;
}
.header-intro-nav .header-intro-nav-li:not(:last-child) {
    position: relative;
    padding-right: 20px;
}
.header-intro-nav .header-intro-nav-li:not(:last-child)::after {
    content: '';
    width: 1px;
    height: 13px;
    background-color: #BFC9D7;
    position: absolute;
    top: 0;
    right: 9px;
}
.header-intro-nav .header-intro-nav-li.active .header-intro-nav-link {
    font-weight: bold;
    color: #fff;
}
.header-intro-nav .header-intro-nav-link {
    font-size: 13px;
    color: #BFC9D7;
}
.header-intro-nav .header-intro-nav-link:hover {
    color: rgba(255, 255, 255, 0.99)
}
/* end header */

/* category */
.category-nav {
    border-bottom: 1px solid #e4e4e4;
    min-width: 1125px;
}
.category-nav .category-nav-ul {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}
.category-nav .category-nav-li {
    padding: 0 10px;
}
.category-nav .category-nav-li.active .category-nav-link {
    font-weight: bold;
}
.category-nav .category-nav-link {
    color: #294c7a;
    font-size: 13px;
}

.category-nav .category-nav-link:hover {
    font-weight: bold;
}
/* end category */

.ranking {
    padding: 30px 0;
    background-color: #f2f2f2;
    min-width: 1125px;
}
.ranking .ranking-container {
    width: 1125px;
    margin: 0 auto;
}
.ranking .ranking-ul {
    display: flex;
    align-items: center;
    padding-left: 0;
}
.ranking .ranking-ul .ranking-li {
    width: 181px;
    margin-right: 7px;
}
.ranking-li-container {
    position: relative;
    background: #fff;
    height: 260px;
}
.ranking-link {
    display: block;
}
.ranking-img-div {
    height: 116px;
    overflow: hidden;
    position: relative;
}
.ranking-img-div .ranking-number {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    background-color: #294C7A;
    color: #fff;
    font-family: Roboto;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    font-size: 17px;
    z-index: 1;
}
.ranking-img-div .ranking-img {
    width: 100%;
}
.ranking-content {
    padding: 7px 10px;
    height: 128px;
}
.ranking-content .ranking-title {
    font-size: 13px;
    line-height: 1.6;
    height: 60px;
    color: #3b3b3b;
    overflow: hidden;
}
.ranking-content .ranking-time {
    position: relative;
    font-size: 12px;
    color: #A2A2A2;
    height: 15px;
    padding-left: 17px;
}
.ranking-content .ranking-time::before {
    content: '';
    position: absolute;
    background-image: url('../images/icon_time.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    display: inline-block;
    left: 0;
}
.ranking-content .ranking-company-name {
    position: absolute;
    margin-top: 2px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #A2A2A2;
}
.ranking-content .ranking-pageview {
    position: absolute;
    font-size: 12px;
    color: #A2A2A2;
    margin-top: 16px;
}